.element__like-btn {
  width: 22px;
  height: 19px;
  background-image: url(../../../images/heart.svg);
  padding: 0;
  margin: 0;
  border: none;
  transition: 0.4s;
}

.element__like-btn:hover {
  cursor: pointer;
  opacity: .6;
}