.profile__add-btn {
  padding: 0;
  margin: 0;
  background-color: transparent;
  background-image: url(../../../images/x.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  width: 150px;
  height: 50px;
  align-self: center;
  transition: .4s;
}

.profile__add-btn:hover {
  opacity: .6;
  cursor: pointer;
}

@media screen and (max-width: 920px) {
  .profile__add-btn {
    width: calc(100% - 187px);
  }
}

@media screen and (max-width: 470px) {
  .profile__add-btn {
    width: 282px;
    background-size: 16px;
  }
}
