.profile {
  display: flex;
  justify-content: space-between;
  margin: 0 0 50px;
}

@media screen and (max-width: 920px) {
  .profile {
    flex-direction: column;
  } 
}

@media screen and (max-width: 400px) {
  .profile {
    margin-bottom: 36px;
  }
}