.popup__btn-submit {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  width: 100%;
  height: 50px;
  border: 0;
  padding: 0;
  background-color: black;
  color: white;
  transition: .4s;
  border-radius: 2px;
}

.popup__btn-submit:hover {
  cursor: pointer;
  opacity: .8;
}

@media screen and (max-width: 500px) {
  .popup__btn-submit {
    height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}