.profile__name {
  margin: 0 auto;
  align-self: end;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 294px;
}

@media screen and (max-width: 400px) {
  .profile__name {
    font-size: 27px;
    line-height: 33px;
    max-width: 189px;
  }
}