.element__btn-delete {
  position: absolute;
  border: 0;
  padding: 0;
  top: 20px;
  right: 20px;
  background-image: url(../../../images/delete-btn.svg);
  background-size: 18px 19px;
  background-color: transparent;
  background-position: center;
  width: 18px;
  height: 19px;
  transition: .4s;
}

.element__btn-delete:hover {
  opacity: .6;
  cursor: pointer;
}