.popup__label:first-of-type {
  margin-bottom: 17px;
}

.popup__label:nth-of-type(2) {
  margin-bottom: 48px;
}

@media screen and (max-width: 500px) {
  .popup__label:nth-of-type(2) {
    margin-bottom: 45px;
  }
}